
#name{	
	border:solid;
	border-color:#3C13AF;
	background-color:#2C17B0;
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.main{
	Margin:solid;
	background-color:#FF9C00;
	padding:5%;
	border-radius:20px;
	   
}


.main2{
	border-style:solid;
	width: 15%;
	border-radius:20px;
    float:left;
	content:1%;
	

}

.main3
{
	border-style:solid;
	background-color:green;
	border-color:red;
	width: 15%;
	border-radius:20px;
    float:left;
	color:#00AC6B;
	
	

}

.big:hover {
    font-size:120%;
}

h1{
	color:#00AC6B;
	text-align:center;

}
.homepage
{
	color:blue;
	text-align:center;
	font-size: 200%;

}
	
	
